* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

body {
  font-family: sans-serif;
  /* font-family: "Segoe UI", Helvetica, Arial, "Segoe UI Emoji", */
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
  display: block;
}

header {
  background: #1b1b1b;
  color: #fff;
  position: sticky;
  top: 0;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 5rem;
}

ul li {
  font-size: 18px;
  position: relative;
}

ul li a {
  display: block;
  text-decoration: none;
  padding: 0.7rem 0;
  text-align: left;
  color: inherit;
  text-transform: capitalize;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 20px;
  color: #fff;
}

h1 {
  font-weight: lighter;
  text-transform: capitalize;
  font-size: 4rem;
    color: #fff;

}
h2 {
  color: #fff;
}
span {
  color: #fff;
}

p {
  margin: 3rem 0rem;
  color: #ccc;
  font-size: 1.4rem;
}

section {
  min-height: 50vh;
  width: 100%;
  display: block;
  /* display: grid;
  place-content: center; */
}

.mainView {
  padding: 1px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: visible;
  width: 100%;
  transform: scale(1.0);
  transform-origin: top center;
}

.leftest-div,
.rightest-div {
  float: left;
  width: 25%;
  padding: 1rem;
}
.centered-div {
  float: left;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagedList {
  display: unset;
  padding: 5px;
  gap: 6rem 5rem;
  color: #fff;
}

#home {
  background: #b84246;
}

#about {
  background: #00928c;
}

#projects {
  background: #765587;
}

#art {
  background: #710412;
}

#contact {
  background: #496a9a;
}
